*{
    padding:30px 20px;
  }

  .dubaia h2{
    font-size:35px;
  }

  .dubaiab b{
    font-size:30px;
  }

  .dubaia h3{
    font-size:18px;
  }

  .dubaia p{
    font-size:14px;
    line-height:1.8;
  }

  .dubaib{
    height:420px;
    gap:12px;
  }

  .card{
    width:150px;
    height:210px;
  }

  .digital{
    padding:50px 20px;
  }

  .digitala p{
    font-size:14px;
  }

  .challenge{
    padding:60px 20px;
  }

  .challenge p{
    font-size:14px;
  }


/* SMALL MOBILE */
@media(max-width:480px){

  .dubaia h2{
    font-size:28px;
  }

  .dubaiab{
    flex-direction:column;
    align-items:flex-start;
  }

  .dubaiab b{
    font-size:24px;
  }

  .dubaib{
    height:350px;
  }

  .card{
    width:120px;
    height:170px;
  }

  .challenge h2{
    font-size:28px;
  }
}